/*Platform.sh Style */
 h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    margin-bottom:0.6rem;
    font-family:"Moderat Black","Helvetica Neue",Arial;
    font-weight:500;
    line-height:1.3;
    color:#1A182A;
}
 @import url("https://fonts.googleapis.com/css?family=Overpass:300,400,500,700,900");
@font-face{
    font-family:'Moderat';
    src:url("https://platform.sh/fonts/Moderat/Moderat-Bold.woff2") format("woff2");
    font-weight:600;
    font-style:normal;
}
 html{
    font-family:"Overpass","Helvetica Neue",Arial;
}
 body{
    margin-left:200px;
}
 body::before{
    content:'This is a platform.sh \a example \a How splendid. ';
    white-space:pre;
    padding-top:150px;
    padding-left:20px;
    padding-right:20px;
    display:block;
    position:fixed;
    float:left;
    top:0;
    left:0;
    width:200px;
    background-image:url(https://platform.sh/logos/redesign/Platformsh_logo_black.svg);
    background-size:75%;
    background-position:50%;
    background-repeat:no-repeat;
    height:200px;
    background-color:white;
}
