                            html{
    box-sizing:border-box;
    font-family:"Overpass","Helvetica Neue",Arial
}
*,*:before,*:after{
    box-sizing:inherit
}
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:10px;
    padding:10px;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block
}
progress{
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
a:active,a:hover{
    outline-width:0
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}
dfn{
    font-style:italic
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-0.25em
}
sup{
    top:-0.5em
}
figure{
    margin:1em 40px
}
img{
    border-style:none
}
svg:not(:root){
    overflow:hidden
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
button,input,select,textarea{
    font:inherit;
    margin:0
}
optgroup{
    font-weight:bold
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html [type=button],[type=reset],[type=submit]{
    -webkit-appearance:button
}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0
}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
textarea{
    overflow:auto
}
[type=checkbox],[type=radio]{
    padding:0
}

/* Platform styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

html {
  background: #f5f7fa;
}
body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px;
  color: #38485e;
  font-size: 15px;
  padding-top: 128px;
  background: #fff url("https://platform.sh/logos/redesign/Platformsh_logo_black.svg") no-repeat 40px 40px;
  background-size: 172px auto;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    margin-bottom:0.6rem;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-weight:500;
    line-height:1.3;
    color:#1A182A;
}
h1, .h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #302f45;
  margin: 0 0 40px 0;
}
h2, .h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  margin: 0 0 32px;
  color: #302f45;
}
h3, .h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #302f45;
}
h4, .h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #302f45;
}
h5, .h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #5f5e70;
}
h6, .h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #302f45;
  margin: 0 0 16px;
}
input[type=text], select {
  border-radius: 2px;
  background: #f5f7fa;
  padding: 0 16px;
  line-height: 40px;
  height: 40px;
  width: 100%;
  max-width: 264px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  margin-bottom: 24px;
}
input[type=text]:focus, select:focus {
  border: 1px solid #1664ff;
  box-shadow: 0 0 2px #1664ff;
  background: #fff;
  padding: 0 15px;
  outline: none;
}
input[type=submit] {
  background-color: #4786ff;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 0px 24px 2px;
  height: 32px;
  line-height: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  clear: left;
}
input[type=submit]:hover {
  background-color: #1664ff;
}
a {
  color: #4786ff;
  text-decoration: none;
}
a:hover {
  color: #1664ff;
  text-decoration: underline;
}
form {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label.checkbox {
  display: flex;
  align-items: center;
}
label.checkbox input[type="checkbox"] {
  margin-right: 8px;
}
